.app {

  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
  nav {
    width: 100vw;
    padding: 50px 0;
    position: fixed;
    top: 0;
    background: #FFFCDC; 
    z-index: 9999;
  }
}
.appContent {
  margin: 150px 0; // for fixed navbar
}
